/* header */

header {
    background-image: url(../imagenes/coro_1.png);
    background-position: center;
    padding: 60px;
    text-align: center;

}

header h1 {
    font-size: 60px;
    margin: auto;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
    color: rgb(255, 255, 255);
}



/* para centrar los textos */

.centrar-texto {
    text-align: center;
}

/* son las barras de arriba y arriba del footer */

.barras {
    background-color: rgba(44, 44, 44, 0.663);
    font-size: 25px;
    padding: 1px;
    /* cambia el color de las palabras entre las etiquetas "a"*/
    color: white;

}

.barras a {
    /* saca el subrayado */
    text-decoration: none;
    /* para cambiar color de las  etiquetas "a" */
    color: white;
}

.barras a:visited {
    color: rgb(18, 25, 209);
}

/* primer pagina al ingresar */
.ingreso {
    position: relative;
    width: auto;
    height: 500px;
    background-image: url(../imagenes/ingresar.png);
    background-size: cover;
}

.ingreso::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.ingreso a {
    /* saca el subrayado */
    text-decoration: none;
    /* para cambiar color de las  etiquetas "a" */
    color: white;
    position: absolute;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
    /*centra a la mitad de alto y ancho*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
}

.ingreso a:hover {
    text-shadow: 2px 2px 3px rgb(28, 29, 29);
    scale: 1.07;
    color: rgb(57, 173, 219);

}

/* barras nav */

nav {
    background-color: #333;
    height: 60px;
    width: 100%;
    /* pone uno alado del otro */
    display: flex;
    /*centra a lo ancho*/
    justify-content: center;
    /*centra a lo alto*/
    align-items: center;
}

nav:hover {
    background-color: #3865ea;

}

nav ul {
    /* le saca las viñetas */
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    border-radius: 4px;
}

nav a:hover {
    background-color: #2849dd;
}

body {
    margin: 0px;
}

/* Estilos de Titulo, Subtitulo y Parrafos */

.titulo {
    color: rgb(0, 0, 0);
    font-size: 30px;
    text-align: center;
    text-shadow: 2px 2px 5px rgb(90, 182, 201);
    box-shadow: 0px 0px 10px rgb(71, 92, 175);
    background-color: rgba(143, 195, 228, 0.858);
    margin-top: 10px;
    padding: 10px;

}

.titulo:hover {
    text-shadow: 2px 2px 5px rgba(49, 137, 155, 0.897);
    box-shadow: 0px 0px 15px rgb(73, 100, 206);
}


.parrafos {
    text-align: justify;
    font-size: 20px;
    margin: 20px;
    padding: 10px;
    color: rgb(0, 0, 0);
}

.titulo-sub {
    text-align: center;
    font-size: 20px;
    margin: 20px;
    padding: 10px;
    font-weight: bold;
    background-color: rgba(77, 231, 231, 0.789);
    box-shadow: 0px 0px 10px rgb(32, 151, 137);
    color: rgb(0, 0, 0);
}

.titulo-sub:hover {
    box-shadow: 0px 0px 10px rgb(137, 22, 186);
}

.titulo-sub-cartel {
    text-align: center;
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 5px rgba(107, 107, 107, 0.897);
    background-color: rgba(222, 118, 200, 0.789);
    box-shadow: 0px 0px 10px rgb(119, 71, 215);
    margin: 20px;
    padding: 10px;
    border-radius: 7px;
}

/* Centrado */

.centrar-img {
    display: flex;
    align-items: center;
    padding: 10px;
}

.centrar-img img {
    display: block;
    margin: 0 auto;
    box-shadow: 0px 0px 10px rgb(77, 200, 200);
}

.redondear {
    border-radius: 10%;

}

.redondear:hover {
    border-radius: 50%;
}


.background-foto {
    background-image: url(../imagenes/fondo_ladrillo_blanco.avif);
}

.background-galeria {
    background-color: rgb(202, 238, 239) !important;
}

.docentes {

    margin-left: 0% !important;
}

.docentes ul {

    /* le saca las viñetas */
    list-style: none;
    margin: 20px;
    padding: 20px;
}

.docentes li {
    margin: 20px 20px;
}


.Contacto {
    padding-top: 15px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 20px;
    color: black;
}

form {
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    background-color: rgba(192, 60, 163, 0.789);
    box-shadow: 0px 0px 10px #76399c;
}

form:hover {
    background-color: rgba(222, 118, 200, 0.789);

}


footer {
    background-color: rgba(44, 44, 44, 0.873);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    height: 20px;
}